<!DOCTYPE html>
<html lang="en">

<head>
  <title>Library App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Library app, manage books and book borrowers.">
  <meta name="theme-color" content="#f45050">
  <meta name="keywords" content="library-app, book">
  <meta name="author" content="Ardi Saputra">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
</head>

<body>
  <a href="#main-content" class="skip">Go to Content</a>
  <header class="my-8">
    <img src="./images/logo.png" alt="Logo" class="w-24 h-24 mx-auto mb-6" tabindex="0">
    <h2 class="section-title" tabindex="0">Library App</h2>
    <p class="section-subtitle" tabindex="0">
      Manage books and book borrowers
    </p>
  </header>
  <main id="main-content" tabindex="0"></main>
  <footer class="relative py-7 border-t">
    <p id="footer" class="absolute bottom-4 right-0 left-0 text-center" tabindex="0">
      Copyright &copy; 2023 - Library App
    </p>
  </footer>
</body>

</html>